
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:"images/joaki.jpg";
}
h2{
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    margin: 0px;
    padding: 0;
    margin-left: 150px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}
table{
    
}

li a:hover {
    background-color: #111111;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
}

#login {
    background-color: #bfbfc2;
    padding: 20px;
    text-align: center;
    font-size: 150%;
    color: black;
    font-display: bold;
}



/* Clear floats after the columns */
section:after {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-display: bold;
}



footer {
    background-color: #666;
    padding: 20px;
    text-align: center;
    font-size: 100%;
    color: white;
    font-display: bold;
}
td, th {
    border:1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #251e1e;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
